@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

/* header font */
.main-header .logo {
  font-family: 'Lato', sans-serif;
}

/* sidebar font */
.main-sidebar {
  font-family: 'Lato', sans-serif;
}

/* value box font, headers takes care of this also */
.value-box-text, .value-box-number {
  font-family: 'Lato', sans-serif;
}

/* box font */
.box-header, .box-title {
  font-family: 'Lato', sans-serif;
  color: #FFFFFF;
}

/* headers font */
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  color: #FFFFFF;
}

/* value box */
.small-box {
  border-radius: 6px;
}

/* value box font color */
.small-box p {
  color: #FFFFFF;
}

/* background color of value box when color="purple" (override) */
.bg-purple {
  background-color: #546F8C!important;
}

/* background color of box when status="primary" (override) */
.box.box-solid.box-primary>.box-header {
  background: #546F8C;
  background-color: #546F8C;
}

/* box border */
.box.box-solid.box-primary {
  border: 1px solid #546F8C;
}

/* font awesome icon color */
.fa, .fas {
  color: #FFFFFF;
}

/* sidebar font awesome icon color */
.sidebar-menu>li>a>.fa, .sidebar-menu>li>a>.glyphicon, .sidebar-menu>li>a>.ion {
  width: 20px;
  color: white;
}

/* navbar (not including header with title) */
.skin-blue .main-header .navbar {
  background-color: #252D3E;
}

/* navbar (header with title only) */
.skin-blue .main-header .logo {
  background-color: #252D3E;
}

/* navbar header logo when hovered */
.skin-blue .main-header .logo:hover {
  background: #3E475B;
}

/* navbar button when hovered */
.skin-blue .main-header .navbar .sidebar-toggle:hover {
  background: #546F8C;
}

/* background */
.content-wrapper, .right-side {
  background-color: #3E475B;
}

/* color when hovering over menu item */
.skin-blue .sidebar-menu>li.active>a, .skin-blue .sidebar-menu>li:hover>a {
  border-left-color: #252D3E;
  background: #546F8C;
  color: #FFFFFF;
}

.skin-blue .left-side, .skin-blue .main-sidebar, .skin-blue .wrapper {
  background-color: #252D3E;
}

/* sidebar text color */
.skin-blue .sidebar a {
    color: #FFFFFF;
}
